body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #9CA986;
    background-image: url(workzone.jpg);
    background-size: cover;
    
}
.navbar {
    background-color: #f8f3e8;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo {
    display: flex;
    align-items: center;
}
.navbar .logo img {
    height: 40px;
    margin-right: 10px;
}

.navbar .menu {
    display: flex;
    align-items: center;
}
.navbar .menu a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.navbar .menu a:hover {
    text-decoration: underline;
}
.navbar .menu .profile-icon {
    font-size: 24px;
}
.content {
    text-align: center;
    padding: 50px 20px;
}
.content img {
    max-width: 100%;
    height: auto;
}
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.wrapper {
    position:absolute;
    width: 380px;
    height: 480px;
    margin-left: 38%;
    top: 100px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    overflow: hidden;
    transform: scale(0); 
    transition: transform .5s,height .2s ease; 
}